<div class="container">
  <h1>Welcome to Your InvestBros Dashboard!</h1>
  <p style="font-size: 1rem;">Track your stocks in real time.</p>
  <h1>Welcome, <%= user.username %>!</h1>

  <div id="stock-container">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>Stock Symbol</th>
          <th>Shares Owned</th>
          <th>Purchase Price</th>
          <th>Total Loss/Gain</th>
          <th>Current Price</th>
          <!-- New Column -->
        </tr>
      </thead>

      <tbody id="stock-data">
        <% user.stocks.forEach(stock => { %>
        <tr>
          <td><%= stock.tickerSymbol %></td>
          <td><%= stock.sharesOwned %></td>
          <td><%= stock.purchasePrice %></td>
          <td><%= stock.lossGain %></td>
          <td id="<%= stock.tickerSymbol %>Price"></td>
          <!-- New Cell for current price -->
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <button id="addStockBtn" class="btn">Add Stocks</button>
  <div id="addStockForm" style="display: none">
    <form action="/addStock" method="POST">
      <input type="hidden" name="userId" value="<%= user._id %>" />

      <input type="text" name="symbol" placeholder="Stock Symbol" required />
      <input
        type="number"
        name="shares"
        placeholder="Number of Shares"
        required
      />
      <input
        type="number"
        step="0.01"
        name="purchasePrice"
        placeholder="Purchase Price"
        required
      />
      <input
        type="date"
        name="purchaseDate"
        placeholder="Date of Purchase"
        required
      />
      <button type="submit" class="btn">Add to Portfolio</button>
    </form>
  </div>
  <a href="/logout" class="btn">Logout</a>
</div>
